{% extends "base.html" %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %} 

<div class="card">
    
    <div class="card-body">
        <h4 class="card-title">Sobre Nosotros</h4>
        <p class="card-text">"GOODMOVIES" Nace como una idea para que las personas puedan guardar las peliculas que quieran agregar a una pagina o las quieran tener almacenas para luego usarlas. Somos una web encargada de almacenar peliculas, para el uso publico. 
            Nuestro directorio es super sencillo e amigable con el usuario.</p>
    </div>
    <img class="card-img-top" src="https://es.web.img3.acsta.net/newsv7/21/12/17/10/40/0035548.jpg" alt="Title">
</div>
    
<style>
    .card-body {
        background-color: gainsboro
    }
</style>



{% endblock %}